<!-- Button trigger modal -->


<div class="row">
    <div class="d-grid gap-2 col-6 text-center">
        <button type="button" class="btn btn-light btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
          DEVELOPMENT
          <br/>
          Success is only in the eyes of the beholder.....
        </button>
    </div>
    <div class="d-grid gap-2 col-6 text-center">
        <button type="button" class="btn btn-light btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal2">
          DESIGN
          <br/>
          Success is only in the eyes of the beholder.....
        </button>
    </div>
</div>

<br/>
<br/>


<div class="row">
    <div class="d-grid gap-2 col-6 text-center">
        <button type="button" class="btn btn-light btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal3">
          PERSONAL
          <br/>
          Success is only in the eyes of the beholder.....
        </button>
    </div>
    <div class="d-grid gap-2 col-6 text-center">
        <button type="button" class="btn btn-light btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal4">
          CV
          <br/>
          Success is only in the eyes of the beholder.....
        </button>
    </div>
</div>


<!-- Modal 1 -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Development</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        1 - Application development class final project during grad school
        <iframe id="Geeks3" width="450" height="350" src="https://www.youtube.com/embed/V5he1JXiQbg" frameborder="0" allowfullscreen></iframe>
        <hr>
        2 - GameBooth: In a previous life, I used to work in Product Management, Project Management, and Web Application Development. 
        <hr>
        3 - This website is created using Ruby on Rails and hosting on Cloud 9 for AWS
     
      </div>
    </div>
  </div>
</div>


<!-- Modal 2 -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@ahskim7/video/6869105159880887558" data-video-id="6869105159880887558" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@ahskim7" href="https://www.tiktok.com/@ahskim7">@ahskim7</a> <p><a title="golf" target="_blank" href="https://www.tiktok.com/tag/golf">##golf</a> <a title="tiger" target="_blank" href="https://www.tiktok.com/tag/tiger">##tiger</a> <a title="monday" target="_blank" href="https://www.tiktok.com/tag/monday">##monday</a></p> <a target="_blank" title="♬ original sound - Danny" href="https://www.tiktok.com/music/original-sound-6837221981985704710">♬ original sound - Danny</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal 3 -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@ahskim7/video/6869105159880887558" data-video-id="6869105159880887558" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@ahskim7" href="https://www.tiktok.com/@ahskim7">@ahskim7</a> <p><a title="golf" target="_blank" href="https://www.tiktok.com/tag/golf">##golf</a> <a title="tiger" target="_blank" href="https://www.tiktok.com/tag/tiger">##tiger</a> <a title="monday" target="_blank" href="https://www.tiktok.com/tag/monday">##monday</a></p> <a target="_blank" title="♬ original sound - Danny" href="https://www.tiktok.com/music/original-sound-6837221981985704710">♬ original sound - Danny</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal 3 -->
<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@ahskim7/video/6869105159880887558" data-video-id="6869105159880887558" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@ahskim7" href="https://www.tiktok.com/@ahskim7">@ahskim7</a> <p><a title="golf" target="_blank" href="https://www.tiktok.com/tag/golf">##golf</a> <a title="tiger" target="_blank" href="https://www.tiktok.com/tag/tiger">##tiger</a> <a title="monday" target="_blank" href="https://www.tiktok.com/tag/monday">##monday</a></p> <a target="_blank" title="♬ original sound - Danny" href="https://www.tiktok.com/music/original-sound-6837221981985704710">♬ original sound - Danny</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



</br>
</br>
</br>
</br>
This website has been custom-built for the purposes of the submission to the program.  I sincerely hope you consider my candidacy, and hope to join the team!