<!-- Button trigger modal -->

<div class="row">
    <div class="d-grid gap-2 col-6 text-center">
        <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <h2 class="display-2">DEVELOPMENT</h2>
          <h3 class="text-secondary">a builder at heart</h3>
        </button>
    </div>
    <div class="d-grid gap-2 col-6 text-center">
        <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal2">
          <h2 class="display-2">DESIGN</h2>
          <h3 class="text-secondary">form = function</h3>
        </button>
    </div>
</div>

<br/>
<br/>


<div class="row">
    <div class="d-grid gap-2 col-6 text-center">
        <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal3">
          <h2 class="display-2">PERSONAL</h2>
          <h3 class="text-secondary">videos that tell my story</h3>
        </button>
    </div>
    <div class="d-grid gap-2 col-6 text-center">
        <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal4">
          <h2 class="display-2">CV</h2>
          <h3 class="text-secondary">EY experience & education</h3>
        </button>
    </div>
</div>


<!-- Modal 1 -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">a sample of my digital applications projects</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        0 - about this website:
         <ul>
            <li>custom-built using <b>Ruby on Rails</b>, with heavy emphasis on the <b>Bootstrap</b> framework and design principles</li>
            <li>developed on <b>Cloud 9 IDE</b> with <b>AWS EC2 micro-tier</b> instance</li>
            <li>code is pushed to <b>GitHub</b> and and published via <b>Heroku</b></li>
        </ul>
        <hr>
        1 - application development <b>Project "GameBooth"</b>: Final project submission for an elective course taken at grad school (video demo)
        <br/><br/>
        <iframe width="100%" height="400px" src="https://www.youtube.com/embed/SWfwwNfZszk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <hr>
        2 - before joining the consulting world, worked in <b>product management, web development, and project management</b> in South Korea

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal 2 -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Portfolio of Design-Related Work - Web Apps and PPT Slides</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span class="debug"><i>*This modal is a carousel; click left/right side of image below to toggle</span></i>
        <hr>
        <!-- Modal Carousel -->
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item">
              <b>Mixxer (Startup 2012), application co-designer | Footer</b>
              <img src="https://i.imgur.com/gLYgYyz.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
             <b> Mixxer (Startup 2012), application co-designer | Location Selection Page</b>
              <img src="https://i.imgur.com/hMJsITh.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <b>Mixxer (Startup 2012), application co-designer | Reservations Page</b>
              <img src="https://i.imgur.com/xauX7Of.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <b>Powerpoint Slide - RFP </b>
              <img src="https://i.imgur.com/WaeOQOS.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <b>Powerpoint Slide - MFI</b>
              <img src="https://i.imgur.com/s0csLoq.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item active">
              <b>Mixxer (Startup 2012), application co-designer | Confirmed Reservations Cards</b>
              <img src="https://i.imgur.com/usNC7QB.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <b>Mixxer (Startup 2012), application co-designer | Landing Page </b>
              <img src="https://i.imgur.com/SiqkYaw.png" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal 3 -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">I believe failure motivates us to grow and innovate (please view the videos below sequentially!)</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="d-grid gap-2 col-4 text-center">
<blockquote class="tiktok-embed" cite="https://www.tiktok.com/@ahskim7/video/6989795860913655045" data-video-id="6989795860913655045" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@ahskim7" href="https://www.tiktok.com/@ahskim7">@ahskim7</a> <p></p> <a target="_blank" title="♬ original sound - Danny" href="https://www.tiktok.com/music/original-sound-6837221981985704710">♬ original sound - Danny</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>          </div>
          <div class="d-grid gap-2 col-4 text-center">
<blockquote class="tiktok-embed" cite="https://www.tiktok.com/@ahskim7/video/6989795007704108294" data-video-id="6989795007704108294" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@ahskim7" href="https://www.tiktok.com/@ahskim7">@ahskim7</a> <p></p> <a target="_blank" title="♬ original sound - Danny" href="https://www.tiktok.com/music/original-sound-6837221981985704710">♬ original sound - Danny</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>          </div>
          <div class="d-grid gap-2 col-4 text-center">
<blockquote class="tiktok-embed" cite="https://www.tiktok.com/@ahskim7/video/6989796823569337605" data-video-id="6989796823569337605" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@ahskim7" href="https://www.tiktok.com/@ahskim7">@ahskim7</a> <p></p> <a target="_blank" title="♬ original sound - Danny" href="https://www.tiktok.com/music/original-sound-6837221981985704710">♬ original sound - Danny</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 4 -->
<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">curriculum vitae</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <b><img src="https://media-exp1.licdn.com/dms/image/C4D0BAQF5bP7S6f5pjw/company-logo_200_200/0/1595226297700?e=1635379200&v=beta&t=XS78NLZHv4pGHzRoqXmU8KTsETpz7aiK97Gx_Y_zxgU" class="text-center" width="15%" style="margin: 0px 15px 0px 0;"></src>time with EY: <span class="text-dark text-center" id="timerWork"></span>
        </b>
        <br/>
        <br/>
        <u><b>notable projects:</b></u>
        <ul>
            <li><b>project ring and river</b> || <span class="debug">sell and separate diligence & TSA </span> work for 2 business units of $10b chemicals company</li>
            <li><b>project valkyrie</b> || <span class="debug">post-close execution & project management</span> of an integration beteween a primary care provider and a pharmacy chain</li>
            <li><b>brookfield properties</b> || <span class="debug">EYP analytics project </span> to assess tenant health scorecard, a quantitative algorithm to evaluate financial health of client's tenants</li>
        </ul>
        <hr>
        <u><b>education:</b></u>
        <br/>
        <br/>
        <img src="https://media-exp1.licdn.com/dms/image/C560BAQG2EMlnW7YBuQ/company-logo_100_100/0/1568753052017?e=1635379200&v=beta&t=vR427ZR77OsUD1NVSiv5pS6kx17R3_cemic6e3LwUbU" class="text-center" width="15%" style="margin: 0px 15px 0px 0;"></src> grad school - chicago booth (mba)
        <br/>
        <br/>
        <img src="https://media-exp1.licdn.com/dms/image/C4E0BAQHuB0Kghi5Syw/company-logo_100_100/0/1574428478747?e=1635379200&v=beta&t=8hUoS6JdWiOygM2lqJEyjrlF_YCXhrrLVGjKZutLSA8" class="text-center" width="15%" style="margin: 0px 15px 0px 0;"></src> undergrad - cmu
        
        <br/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


</br>
*This website has been <u class="debug">custom-built</u> (hard-coded, absolutely NO website builder / CMS used) for the purposes of the IBC submission.  I sincerely hope you consider my candidacy, thank you!