<!-- Button trigger modal -->

<div class="row">
    <div class="d-grid gap-2 col-6 text-center">
        <button type="button" class="btn btn-light btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <h2 class="display-2">DEVELOPMENT</h2>
          <h3>a builder at heart</h3>
        </button>
    </div>
    <div class="d-grid gap-2 col-6 text-center">
        <button type="button" class="btn btn-light btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal2">
          <h2 class="display-2">DESIGN</h2>
          <h3>form = function</h3>
        </button>
    </div>
</div>

<br/>
<br/>


<div class="row">
    <div class="d-grid gap-2 col-6 text-center">
        <button type="button" class="btn btn-light btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal3">
          <h2 class="display-2">PERSONAL</h2>
          <h3>a glimpse of me</h3>
        </button>
    </div>
    <div class="d-grid gap-2 col-6 text-center">
        <button type="button" class="btn btn-light btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal4">
          <h2 class="display-2">CV</h2>
          <h3>EY experience & education</h3>
        </button>
    </div>
</div>


<!-- Modal 1 -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">a sample of my digital applications projects</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        0 - about this website:
         <ul>
            <li>custom-built using <b>Ruby on Rails</b>, with heavy emphasis on the Bootstrap framework and design principles</li>
            <li>developed on Cloud 9 IDE with AWS EC2 micro-tier instance</li>
            <li>code is pushed to GitHub repo and and published via Heroku free-tier server</li>
        </ul>
        <hr>
        1 - Application Development Project "GameBooth" - Final project submission for an elective course taken during my years at grad school (video demo only - taken down from hosting server)
        <br/><br/>
        <iframe width="100%" height="400px" src="https://www.youtube.com/embed/SWfwwNfZszk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <hr>
        2 - before joining the consulting world, worked in product management, web development, and project management in South Korea

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal 2 -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sample Design Portfolio - Web Apps and PPT Slides</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Modal Carousel -->
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item">
              Mixxer (Startup 2012), application co-designer | Footer
              <img src="https://previews.dropbox.com/p/thumb/ABMZwj2B19_epDyV96cJYU90iyseA5PBqVs_udMFVnr10noMxaCpkGnjpWJ9TGo2148TVgj34M5R4hp4u1iQgGpASWnCOCyLm6JoR8uAzfk5BJe7pFlRCPLuPqgjGmGJnwaDFF4T4mXmnakdRc__Pdo1CnrbIQEx6eA4rWK9L6LiM7o7Oritl403NzohSpJcdjtkM3DifQ3z6g6rAK7TRqfzmARsO1BGIce87srDukj_i2FKMSI8qdGIB7mEKRIAJcGBGOY9WsYUDEMHsEwr479B2B_P2fO764REb9IbnSu6Bx56z1WXX-sTXB7BeCekvQt4p0jnwDOFau8R6LAHO6K9Rx5Vi38Dn-Ogg1lz8rZV3Q/p.png?fv_content=true&size_mode=5" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              Mixxer (Startup 2012), application co-designer | Location Selection Page
              <img src="https://previews.dropbox.com/p/thumb/ABPxKkvFyj32oIRlwy7mrPrWzKsklH4473okEFCjLN-FLdOJLMnAMK0IDvAEcoSC5Pe0XYQDYeNmqPaaIDmZX2AQpKx24W_BZUoNi2Piy7h1XbsktX-q3OdliBheAYEgsIjwYvzjK7BP99YJTxgthJONbLOsQchAtjNN9lJiP4xiCrelpHzaoFVbxZm-MmvApEI6Lp7OZYkkaD8bQ8CIUJUO9W-QcewhERqZx4pBNoseMdrk49-fqHrbvnlJDkoSOIqlDePL1a-c6ERHqK2lEdgC1pWHR4BlGPVfogwzP1ojKofaFm6YdxLu8vAOnM88uSGCWdeLznPAdBG_Gnbd0rrAhdfEiGtYt4bs8mwvt-xmNg/p.jpeg?fv_content=true&size_mode=5" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              Mixxer (Startup 2012), application co-designer | Reservations Page
              <img src="https://previews.dropbox.com/p/thumb/ABN29lcH1LohQD6atNJ9CURHcEcyCtKcngk4R_CYnB7gZtlBLHF3LlfDgIvMWxKvOzeMvE5ddP2W-lRDPwGRdmYCFWIpZLWn6G-MpPtH2TGvbfQ1kYPkpjsA1kyUPz0Vhwgnt0C9PqjaoWFxWgusbWx1liQQvaSzwCQf1B2mlAr25Tp8OSYIsaZCisfyorWoRq9pCdR5HGVqIf8YMP60zSTjHZQyJOFeJkIVDu856QKbkuryu115oPOdzkhm_ztMgs0b3aHYnYUbPJ9MQ7djtCDrNFAJsxOb2eao4y1j69yjrvaRn7DIPnT5Ynuew6c699-64X9pQh_S1TRv3fS648tsryXvAnHVaQujMGaMqIOPTw/p.png?fv_content=true&size_mode=5?fv_content=true&size_mode=5" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              Powerpoint Slide - RFP 
              <img src="https://previews.dropbox.com/p/thumb/ABNVe1tOW6AIXQxe4qUkVUreSMLuNZYI_8CqFDiFwDcGvY0gK38mZBcbAkuOTPDFt8Qyo3ymn9le673kxgvg3vv94EhGPmR9maWt34GKX24JQ6e5tkW0_q1RF8zTlUlfLXkz31tAaWCpm6UTD4tXPmofR68U3TtPaAr3876SwzLMptKsNx8q4Rb6m3-ZhuPY__UsVS3BrujaLUCqDWJSqFxWkHrV4UAV02R8bzj2obt9u9jfaxxErMVcZ258LLp2A3o2ZjX6hzynnYZFi-R8TGvOcvRM7wKn4uMGuHB9QDiDi9LUjZA7edAclqOvS3GcBsLwXEdd_16zHtDAIW6P2cRVppzaNu_KjYzmkWJov5CPRw/p.png?fv_content=true&size_mode=5" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              Powerpoint Slide - MFI
              <img src="https://previews.dropbox.com/p/thumb/ABNYcc8q8y-BnJ_KEKIOfQdIY55K9dWHRtffCWMhDygwUMke2lVG9DMfS-hiEXhGiIHlszTr_PvgyVeTkojit-fMjb69ANKqa45QysFIFL4xTcF34CrKRrt-ckfIZR2URBFr0pRmbbbNzkKKXdoe9KggokPWU5yKlrygTEt6-vmcO2sS6qWuBJpHYmNG_9TqQXpeT47rnCdLkQAcP_tgIfH6CEb9gfnU3Bdt9zXPebOZZGrdzcdyTW2ibWNqe1St3NZFHYdOurkH4bVzWpJf2_yiM7bQGOHdIwm_ZRfZSnJDYSmNPTF3h-D7kTtZChamRFcgaF4fSFIjFtZGxtwp2zHeOGxEGpV8azfHpbKtO1HPuA/p.png?fv_content=true&size_mode=5" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item active">
              Mixxer (Startup 2012), application co-designer | Confirmed Reservations Cards
              <img src="https://previews.dropbox.com/p/thumb/ABN0i_UI32effhwwDAAWO1J1JEMKnHFAb8mWtorpLAWSmcuoxyh9ON0c8noGE4PEGvjH5LAYOHeesFYJOEUs7wSMOsueJ6UUXwQemVGDdlaN1OJMeVdyVgCw30WlChS1chXm8JmG69nWgFDfnTgKG5vl9Yz2n62hSrDCUmeJb3JL5tLdYHtw-pnODmaaGtxXhbFkcsTvgFhTHeyTmcH3Hxjwwefz7X0XsCkxqf_uW4ejFIAk0QeWbovjw-jzakWLrBLjLJ__o3xj8217Jq-7fxEW0hTgYpLKPJz6Q33fQMmILhsH_Ygd6-PBs9KRicX2iomgKc-c6b5w2oOGPXqXb2tQ_wgNBoFSlLAa45-GLrmb5A/p.jpeg?fv_content=true&size_mode=5" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              Mixxer (Startup 2012), application co-designer | Landing Page 
              <img src="https://previews.dropbox.com/p/thumb/ABPMAQV_VT8ImCGf-VVT9QVi3yfIMGoHDXceXPnvC3cjJqIYkb91uEyK7Xs1uJEfi3qXfqu0lyQcg6G-KmKqKeYJn4_ZhTlFdJe84HMs7Wo2MtvMU7_y0-wXSvq51MqqbOIFZEfBAPzwxk-v7CqKgInmrvHUdBBtCsFUcDFXlwZmGO2q6Lhi-M2HNncRZOM0IIufCaB4pxcE51TyvaT6ogO57i7aXBwdDLz3PVxfdz-lG-7rKbyeqxUXAg9A11DH4O3KJrQLObJBbi7psd9b8fonN_Uuq7MDupzuX9H9vU6KtyqHWomP_XutLXrXZOQ7EBpGUzFWdxv1a9A1Ysu-8H1kbXAafxhPHcGcC_oYmpGwLQ/p.png?fv_content=true&size_mode=5" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal 3 -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">I believe failure motivates us to grow and innovate</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="d-grid gap-2 col-4 text-center">
<blockquote class="tiktok-embed" cite="https://www.tiktok.com/@ahskim7/video/6989795860913655045" data-video-id="6989795860913655045" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@ahskim7" href="https://www.tiktok.com/@ahskim7">@ahskim7</a> <p></p> <a target="_blank" title="♬ original sound - Danny" href="https://www.tiktok.com/music/original-sound-6837221981985704710">♬ original sound - Danny</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>          </div>
          <div class="d-grid gap-2 col-4 text-center">
<blockquote class="tiktok-embed" cite="https://www.tiktok.com/@ahskim7/video/6989795007704108294" data-video-id="6989795007704108294" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@ahskim7" href="https://www.tiktok.com/@ahskim7">@ahskim7</a> <p></p> <a target="_blank" title="♬ original sound - Danny" href="https://www.tiktok.com/music/original-sound-6837221981985704710">♬ original sound - Danny</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>          </div>
          <div class="d-grid gap-2 col-4 text-center">
<blockquote class="tiktok-embed" cite="https://www.tiktok.com/@ahskim7/video/6989796823569337605" data-video-id="6989796823569337605" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@ahskim7" href="https://www.tiktok.com/@ahskim7">@ahskim7</a> <p></p> <a target="_blank" title="♬ original sound - Danny" href="https://www.tiktok.com/music/original-sound-6837221981985704710">♬ original sound - Danny</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 4 -->
<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">curriculum vitae</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="https://media-exp1.licdn.com/dms/image/C4D0BAQF5bP7S6f5pjw/company-logo_200_200/0/1595226297700?e=1635379200&v=beta&t=XS78NLZHv4pGHzRoqXmU8KTsETpz7aiK97Gx_Y_zxgU" class="text-center" width="15%" style="margin: 0px 15px 0px 0;"></src>time with EY: <span class="text-dark text-center" id="timerWork"></span>
        <br/>
        <br/>
        <u>notable projects:</u>
        <ul>
            <li>project ring and river | sell and separate diligence, TSA, and sign-to-close work for $500m chemicals company </li>
            <li>project valkyrie | post-close execution of a JV to integrate primary care provider with a pharmacy chain</li>
            <li>brookfield properties - EYP analytics project to analyze tenant health scorecard, a quantitative algorithm to evaluate tenant's financial health as a lessee</li>
        </ul>
        <hr>
        <u>education:</u>
        <br/>
        <br/>
        <img src="https://media-exp1.licdn.com/dms/image/C560BAQG2EMlnW7YBuQ/company-logo_100_100/0/1568753052017?e=1635379200&v=beta&t=vR427ZR77OsUD1NVSiv5pS6kx17R3_cemic6e3LwUbU" class="text-center" width="15%" style="margin: 0px 15px 0px 0;"></src> grad school - chicago booth (mba)
        <br/>
        <br/>
        <img src="https://media-exp1.licdn.com/dms/image/C4E0BAQHuB0Kghi5Syw/company-logo_100_100/0/1574428478747?e=1635379200&v=beta&t=8hUoS6JdWiOygM2lqJEyjrlF_YCXhrrLVGjKZutLSA8" class="text-center" width="15%" style="margin: 0px 15px 0px 0;"></src> undergrad - cmu
        
        <br/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



</br>
</br>
This website has been custom-built (hard-coded, absolutely NO website builder / CMS used) for the purposes of the submission to the program.  I sincerely hope you consider my candidacy, thank you!